*{
    margin: 0%;
}
body{
    background-color:#e4e4e4;
}
header{
    background-size: cover; 
    background-repeat: no-repeat;
    background-image: url(imagens/1wallpaper.jpg);
    background-position: center;
}
.text{
    width: 50%;
    padding:40px 0 10px 40px;
}
#welcome{
    color: rgb(231, 231, 231);
    text-shadow: 2px 3px 3px rgb(43, 43, 43);
    font-family: fantasy;
    padding: 0 0 20px 20px;
    font-size: 50px;
}
#what{
    text-shadow: 2px 3px 3px rgb(43, 43, 43);
    color: rgb(231, 231, 231);
    font-size: 20px;
}
#header{
    text-align: center;
    position: relative;
    bottom: 5px;
}
.links li{
    display: inline-block;
    text-align: center;
}
.links li a{
    background-color: ;
    color: #FB081E;
    font-size: 20px;
    margin: 10px;
}
a{
    text-decoration:none;
}
#imagem-perfil{
    display: inline-block;
    position: relative;
    left: 75%;
    bottom: 167px;
    border: 5px solid rgb(255, 255, 255);
    width: 250px;
    border-radius: 5%;
    box-shadow:5px 3px 5px rgb(0, 0, 0);
}
main{
    background-color: #ffffff;
    position: relative;
    top: -300px;
    margin-left: 15px;
    border: 5px solid gray;
    border-radius: 10px;
    padding-left: 20px;
    width: 70%;
    box-shadow:5px 3px 5px rgb(0, 0, 0);
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 33px;
    padding: 20px;
}
#roling1 p{
    line-height: 17px;
    padding: 4px 10px 4px 0;
    font-size: 18px;
}
#list-hability{
    margin-left: 40px;
    list-style-image:url(imagens/foguete02.png);
}
#list-hability li{
    font-size: 20px;
    padding: 0 0 10px 5px;
}